<h1> authors</h1>

<h3>{{ authors|length }} author(s) found</h3>
{% set totalBooks = 0 %}

{% if authors is empty%}

<h3>no authors found :c </h3>

{% else %}
<table border="1">
{% for author in authors %}
        <tr>
            <td><img src="{{ author.picture }}" alt="image" width="100"></br></td>
            <td>{{author.username | upper}}</td>
            <td>{{author.email}}</td>
            <td>{{author.nb_books}}</td>
            <td><a href="{{ path('app_author_details', {'id': author.id} ) }}">Details</a></td>
        </tr>
    {% set totalBooks = totalBooks + author.nb_books %}
{% endfor %}
<table/>
{% endif %}

<h3>{{ totalBooks }} available books</h3>